body{
	margin: 0px;
	background-color: #e6e6ff;
}

a{
	color: black;
	 text-decoration:none; 
}
a:hover{
	color: black;
	 text-decoration:none; 
}
a:visited{
	color: black;
	 text-decoration:none; 
}
/*VISTA DE ADMINISTRADOR*/
.vistaAdmin #registro{
	border: 1px solid black;
	position: absolute;

}
.vistaAdmin td, table, tr{
	padding: 5px;
	border-collapse: collapse;
}


/* LOG IN*/
.login #cuadroFormulario{
	left: 40%;
	position: absolute;
	border: 1px solid black;
	border-radius: 20px;

}
.labelform{
	width: 30%;
	float: left;
}
.login #enviar{

}
.login #login-registro{

}
.login ul{
	 list-style-type: none;
	 padding: 10px;
	 position: relative;
	 left: 7%;
}
.login li{
	float: left;
}
.login h1{
	left: 42%;
	position: relative;
}